MONGODB_URI=mongodb://vikramjeetfilms:Vikram2026@ac-2wyoavy-shard-00-00.9wtwozy.mongodb.net:27017,ac-2wyoavy-shard-00-01.9wtwozy.mongodb.net:27017,ac-2wyoavy-shard-00-02.9wtwozy.mongodb.net:27017/authDB?ssl=true&replicaSet=atlas-7te2z5-shard-0&authSource=admin&retryWrites=true&w=majority
MONGODB_CONNECT_RETRIES=3
MONGODB_RETRY_DELAY_MS=2000

NEXT_PUBLIC_BASE_URL=https://aurakriti.vercel.app
NEXT_PUBLIC_API_URL=https://aurakriti.vercel.app/api
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=voritemedia@gmail.com
EMAIL_PASS=trrgsdzicemckrft
FROM_NAME=Ecommerce App

JWT_SECRET=mysupersecretkey




# cloudinary configuration
folder_name="hackthon"
CLOUDINARY_CLOUD_NAME=djrm1rzhc
CLOUDINARY_API_KEY=639515126972998
CLOUDINARY_API_SECRET=5uKKcxtoKOhoo2aaUxOa6VwXzqQ

RAZORPAY_KEY_ID=rzp_test_GCr46JGQ2wxtTV
RAZORPAY_KEY_SECRET=VDXAtOEqWA83UCTBnGCyCWGY
RAZORPAY_WEBHOOK_SECRET="123456"